@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

:root {
  --bs-body-font-family: 'Lato', sans-serif;
  --bs-border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h3 {
  font-size: 1.6rem;
}

.navbar {
  font-weight: 700;
}

.pill-custom {
  box-shadow: 5px 5px;
  --bs-btn-color: black;
  --bs-btn-hover-bg: white;
  --bs-btn-active-bg: white;
}

.pill-custom.orange {
  --bs-btn-bg: #f46527;
}

.pill-custom.yellow {
  --bs-btn-bg: #fcdb1a;
}

.pill-custom.lightblue {
  --bs-btn-bg: #29a4e2;
}

.country-card:hover {
  background-color: #f8f9fa;
}

.list-group {
  --bs-list-group-border-color: #717171;
  --bs-list-group-bg: #f8f9fa;
  --bs-list-group-action-hover-bg: #fcdb1a;
  --bs-list-group-action-active-bg: #f46527;
}

.list-group-item:hover {
  outline: 2px solid black;
  outline-offset: -1px;
}

.form-select.search {
  color: black;
  width: fit-content;
  background-color:#29a4e2;
  transition: background-color .15s ease-in-out;
}

.form-select.search:hover {
  background-color: #71c3ec;
}

.form-select.filter {
  background-color:#fcdb1a;
}

.form-select.filter:hover {
  background-color: #ffe65b;
}