{% extends "layout.html" %}

{% block searchform %}{% endblock %}

{% block content %}
<div class="container-fluid col-12 col-xl-6 p-2">
<h2 class="mb-4 p-1">{{ _('About Paulina') }}</h2>
    {% set wikidata_link %}<a href="https://www.wikidata.org" target="_blank">{{ _('Wikidata') }}</a>{% endset %}
    {% set artica_link %}<a href="https://www.articaonline.com" target="_blank">{{ _('Ártica - Online Cultural Center') }}</a>{% endset %}
    {% set cc_uruguay_link %}<a href="https://www.creativecommons.uy" target="_blank">{{ _('Creative Commons Uruguay') }}</a>{% endset %}
    {% set data_uruguay_link %}<a href="https://data.org.uy" target="_blank">{{ _('Data Uruguay') }}</a>{% endset %}
    {% set wm_uruguay_link %}<a href="https://wikimedistas.uy" target="_blank">{{ _('Wikimedistas de Uruguay') }}</a>{% endset %}
    {% set CC0_link %}<a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">{{ _('Creative Commons CC0 1.0 Universal Public Domain Dedication') }}</a>{% endset %}
    {% set ccbysa_link %}<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">{{ _('Creative Commons Attribution-ShareAlike 4.0 International License') }}</a>{% endset %}
    {% set wm_commons_link %}<a href="https://commons.wikimedia.org" target="_blank">{{ _('Wikimedia Commons') }}</a>{% endset %}
    {% set agpl_link %}<a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">{{ _('GNU Affero General Public License Version 3') }}</a>{% endset %}
    {% set repository_link %}<a href="https://gitlab.wikimedia.org/toolforge-repos/paulina" target="_blank"> {{ _("project's code repository") }}</a>{% endset %}
    <p class="px-1">{{ _('Paulina invites you to learn about the cultural heritage of humanity. It is a multilingual tool, powered by %(wikidata_link)s, that allows you to search for people and find out if they have freely accessible works in the public domain. It also facilitates the understanding of copyright terms and helps to know when a work enters the public domain in each country.', wikidata_link=wikidata_link) }}</p>
    <h3 class="px-1">{{ _('Wikidata') }}</h3>
    <p class="px-1">{{ _('Paulina is fed by data from Wikidata, the free and collaborative database maintained by the Wikimedia Foundation.') }}</p>
    <p class="px-1">{{ _('Sometimes, the information consulted may contain errors or be incomplete. Paulina helps to identify gaps and inaccuracies in information about cultural heritage and invites you to improve the data in Wikidata and, through it, on the Internet.') }}</p>
    <h3 class="px-1">{{ _('Local tools') }}</h3>
    <p class="px-1">{{ _('This website is part of a larger project to facilitate the creation of national, regional or thematic versions of the tool, according to the needs of each community.') }}</p>
    <h3 class="px-1">{{ _('Who makes Paulina') }}</h3>
    <p class="px-1">{{ _('Paulina is supported by %(artica_link)s, %(cc_uruguay_link)s, %(data_uruguay_link)s and %(wm_uruguay_link)s.', artica_link=artica_link, cc_uruguay_link=cc_uruguay_link, data_uruguay_link=data_uruguay_link, wm_uruguay_link=wm_uruguay_link) }}</p>
    <h3 class="px-1">{{ _('Content licenses') }}</h3>
    <p class="px-1">{{ _('All data in the pages about authors, works, countries and terms come from Wikidata and are under the terms of the %(CC0_link)s.', CC0_link=CC0_link) }}</p>
    <p class="px-1">{{ _('The texts and other original content of this website are under a %(ccbysa_link)s.', ccbysa_link=ccbysa_link) }}</p>
    <p class="px-1">{{ _('The images and media in the pages about authors, works, countries and terms come from %(wm_commons_link)s and are under different free licenses or in the public domain. We recommend consulting the information of each content on Wikimedia Commons.', wm_commons_link=wm_commons_link) }}</p>
    <p class="px-1">{{ _('The works accessible through links to external sites are available to the public, mostly because they are in the public domain, or under free licenses, but some of them may be under copyright in some jurisdictions. We recommend consulting the information of each work on the websites where they are hosted.') }}</p>
    <h3 class="px-1">{{ _('Free software') }}</h3>
    <p class="px-1">{{ _('Paulina is free software. It is published under the %(agpl_link)s. Visit the %(repository_link)s.', agpl_link=agpl_link, repository_link=repository_link) }}</p>
</div>
{% endblock %}