{% extends "layout.html" %}

{% block content %}
<div class="container-fluid col-12 col-xl-9 p-2">
  <h2 class="mb-4 p-1">{{author_name}}
    <a href="{{ url_for('works_list', author_id=author_id) }}" role="button"
       class="btn border-black rounded-pill pill-custom lightblue">
      {{ _('Search works') }}
    </a>
  </h2>

  <table class="table table-light p-1">
    <tbody>
      <tr>
        <th scope="row">{{ _('Image') }}</th>
        <td><a href="{{author_image_link}}" target="_blank"><img src="{{author_image}}" alt="{{author_image_alt_text}}" height="100"></a></td>
      </tr>
      <tr>
        <th scope="row">{{ _('Description') }}</th>
        <td>{{author_description}}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Nationality') }}</th>
        <td>{{author_nationality}}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Gender') }}</th>
        <td>{{author_gender}}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Date of birth') }}</th>
        <td>{{author_date_of_birth}}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Occupation') }}</th>
        <td>{{author_occupation}}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Place of birth') }}</th>
        <td>{{author_place_of_birth}}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Country of birth') }}</th>
        <td>{{author_country_of_birth}}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Date of death') }}</th>
        <td>{{author_date_of_death}}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Age') }}</th>
        <td>{{author_age}}</td>
      </tr>
      <tr>
        <th scope="row">{{ _('Wikipedia link') }}</th>
        <td><a href="{{author_wikipedia_link}}" target="_blank">{{author_wikipedia_link}}</a></td>
      </tr>
      <tr>
        <th scope="row">{{ _('Commons link') }}</th>
        <td><a href="{{author_commons_link}}" target="_blank">{{author_commons_link}}</a></td>
      </tr>
      <tr>
        <th scope="row">{{ _('Wikisource link') }}</th>
        <td><a href="{{author_wikisource_link}}" target="_blank">{{author_wikisource_link}}</a></td>
      </tr>
      <tr>
        <th scope="row">{{ _('Wikiquote link') }}</th>
        <td><a href="{{author_wikiquote_link}}" target="_blank">{{author_wikiquote_link}}</a></td>
      </tr>
      <tr>
        <th scope="row">{{ _('In public domain?') }}</th>
        <td>
          {% if author_is_in_public_domain == True %}
          <span class="badge text-bg-success">&check;</span> {{ _('Yes') }}
          {% elif author_is_in_public_domain == False %}
          <span class="badge text-bg-danger">&cross;</span> {{ _('No') }}
          {% elif author_is_in_public_domain == 'Consult individual works' %}
          <a href="{{ url_for('works_list', author_id=author_id) }}">{{ _('Consult individual works.') }}</a>
          {% elif author_is_in_public_domain == 'Unknown' %}
          <span class="badge text-bg-warning">&#9888;</span> {{ _('Unknown due to lack of available dates of birth and death.') }}
          <a href="{{ url_for('works_list', author_id=author_id) }}">{{ _('Consult individual works.') }}</a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">{{ _('Missing/wrong data?') }}</th>
        <td><a href="{{author_wikidata_link}}" target="_blank">{{ _('Edit Wikidata item') }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}