{% extends "layout.html" %}

{% block searchform %}{% endblock %}

{% block content %}
<div class="container-fluid col-12 col-xl-9 p-2">
  <h2 class="mb-4 p-1">{{ _('Countries and terms') }}</h2>
  <p class="p-1">{{ _('This grid indicates the period after which works enter the public domain in each country.') }}
    {{ _('The period indicated is post mortem auctoris.') }}
    {{ _('By clicking on each country, you can access more information about the country.') }}</p>
  <div class="container p-1">
    <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
      {% for country in countries_info %}
      <div class="col">
        <a href="{{ url_for('country_page', country_data=country['item']['value'].split('/')[-1]) }}"
           class="list-group-item list-group-item-action">
          <div class="text-center border border-black country-card p-3 h-100">
            <p>
              <img src="{{ country.get('flag', {}).get('value') }}"
                   alt="{{ _('Flag of %(country_name)s.', country_name=country.get('itemLabel', {}).get('value')) }}" height="20">
            </p>
            <p>
              <strong>{{ country['itemLabel']['value'] }}</strong>
            </p>
            <p> {{ country['terms']['value'] }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}