{% extends "layout.html" %}

{% block content %}
<div class="container-fluid col-12 col-xl-9 p-2">
  <h2 class="mb-4 p-1">
    <a href="{{country_flag_image_link}}" target="_blank">
      <img src="{{country_flag_image}}" alt="{{country_flag_image_alt_text}}" height="30"></a>
    {{ _("%(country_name)s's copyright term", country_name=country_name) }}</h2>

  <table class="table table-light p-1">
    <tbody>
    {% for term in country_copyright_terms %}
    {% if "itemLabel" in term %}
    <tr>
      <th scope="row">{{ _("%(country_name)s is part of", country_name=country_name) }}</th>
      <td><a href="{{ url_for('term_page', term_id=term['item']['value'].split('/')[-1]) }}">
        {{ term['itemLabel']['value'] }}</a>
        {% if term['appliesToParts']['value'] != '' %}
        <br>
        {{ _('Applies to %(countries)s', countries=term['appliesToParts']['value']) }}
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}