{% extends "layout.html" %}

{% block presentation %}
<!--Paulina's logo-->
<div class="container-fluid pt-3">
  {% if CURRENT_LANGUAGE == 'en' %}
  <div class="text-center">
      <img src="{{ url_for('static', filename='images/logo-paulina-en.svg') }}" alt="{{ _('Paulina logo') }}" style="max-width:300px;">
  </div>
  {% elif CURRENT_LANGUAGE == 'es' %}
  <div class="text-center">
      <img src="{{ url_for('static', filename='images/logo-paulina-es.svg') }}" alt="{{ _('Paulina logo') }}" style="max-width:300px;">
  </div>
  {% else %}
  <div class="text-center">
      <img src="{{ url_for('static', filename='images/logo-paulina-en.svg') }}" alt="{{ _('Paulina logo') }}" style="max-width:300px;">
  </div>
  {% endif %}
</div>
{% endblock %}

{% block content %}
<!--Color boxes-->
<div class="m-3 p-3">
  <div class="row">
    <div class="col-md p-2 m-2">
      <div class="text-center p-3 mb-3 border border-black h-75" style="background-color: #f46527; max-height: 60%;">
        <h3>{{ _('Discover authors') }}</h3>
        <p>{{ _('Paulina is a simple search tool to discover authors from all over the world and learn about their works.') }}</p>
      </div>
      <p class="my-4">
        <a class="btn border-black rounded-pill pill-custom orange"
        href="{{ url_for('author_page', author_data='Q47152') }}">{{ _('Mary Shelley') }}</a>
        <a class="btn border-black rounded-pill pill-custom orange"
        href="{{ url_for('author_page', author_data='Q229613') }}">{{ _('Carlos Gardel') }}</a>
        <a class="btn border-black rounded-pill pill-custom orange"
        href="{{ url_for('author_page', author_data='Q11560527') }}">{{ _('Kiyohara Yukinobu') }}</a>
        <a class="btn border-black rounded-pill pill-custom orange"
        href="{{ url_for('author_page', author_data='Q7154948') }}">{{ _('Paulina Luisi') }}</a>
      </p>
    </div>
    <div class="col-md p-2 m-2">
      <div class="text-center p-3 mb-3 border border-black h-75" style="background-color:#fcdb1a; max-height: 60%;">
        <h3>{{ _('Find works') }}</h3>
        <p>{{ _('Easily find information on cultural works from all disciplines of art and knowledge found on Wikidata.') }}</p>
      </div>
      <p class="my-4">
        <a class="btn border-black rounded-pill pill-custom yellow"
        href="{{ url_for('work_page', work_data='Q2271021') }}">{{ _('The Araucaniad') }}</a>
        <a class="btn border-black rounded-pill pill-custom yellow"
        href="{{ url_for('work_page', work_data='Q1629456') }}">{{ _('Orlando: A Biography') }}</a>
        <a class="btn border-black rounded-pill pill-custom yellow"
        href="{{ url_for('work_page', work_data='Q151599') }}">{{ _('Metropolis') }}</a>
        <a class="btn border-black rounded-pill pill-custom yellow"
        href="{{ url_for('work_page', work_data='Q27950888') }}">{{ _('Pampa') }}</a>
      </p>
    </div>
    <div class="col-md p-2 m-2">
      <div class="text-center p-3 mb-3 border border-black h-75" style="background-color:#29a4e2; max-height: 60%;">
        <h3>{{ _('Learn about the public domain') }}</h3>
        <p>{{ _('Find out which works are in the public domain in different countries and access the versions available online.') }}</p>
      </div>
      <p class="my-4">
        <a class="btn border-black rounded-pill pill-custom lightblue"
        href="{{ url_for('term_page', term_id='Q114763455') }}">{{ _('Countries with 50 years post mortem auctoris') }}</a>
        <a class="btn border-black rounded-pill pill-custom lightblue"
        href="{{ url_for('term_page', term_id='Q73560261') }}">{{ _('Countries with 70 years post mortem auctoris') }}</a>
      </p>
    </div>
  </div>
</div>
      {% endblock %}




