<!DOCTYPE html>
{% if CURRENT_LANGUAGE in TRANSLATED_LANGUAGES %}
<html lang="{{ CURRENT_LANGUAGE }}">
{% else %}
<html lang="en">
{% endif %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="index, nofollow">
  <title>{{ title }} - {{ _('Paulina') }}</title>
  <meta name="description" content="{{ _('Paulina invites you to learn about the cultural heritage of humanity. '
                                         'It is a multilingual tool, powered by Wikidata, that allows you to search '
                                         'for people and find out if they have freely accessible works in the public '
                                         'domain. It also facilitates the understanding of copyright terms and helps '
                                         'to know when a work enters the public domain in each country.') }}">
  <!-- Bootstrap 5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
          crossorigin="anonymous"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='images/paulina-icon-32x32.png', _external=True) }}" sizes="32x32">
  <link rel="icon" href="{{ url_for('static', filename='images/paulina-icon-192x192.png', _external=True) }}" sizes="192x192">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/paulina-icon-180x180.png', _external=True) }}">
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/paulina-icon-270x270.png', _external=True) }}">
  <!-- Open Graph meta tags -->
  <meta property="og:site_name" content="{{ _('Paulina - Data for the Public Domain') }}"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:url" content="{{ request.base_url }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="{{ _('Paulina invites you to learn about the cultural heritage of humanity. '
                                         'It is a multilingual tool, powered by Wikidata, that allows you to search '
                                         'for people and find out if they have freely accessible works in the public '
                                         'domain. It also facilitates the understanding of copyright terms and helps '
                                         'to know when a work enters the public domain in each country.') }}"/>
  <meta property="og:image" content="{{ url_for('static', filename='images/paulina-icon-192x192.png', _external=True) }}"/>
</head>

<body class="d-flex flex-column min-vh-100">

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      {% set paulina_icon_bw = url_for('static',filename='images/paulina-icon-bw-180x180.png') %}
      {% set paulina_icon = url_for('static',filename='images/paulina-icon-180x180.png') %}
      <img src="{{ paulina_icon_bw }}"
           onmouseover="this.src='{{paulina_icon}}';" onmouseout="this.src='{{paulina_icon_bw}}';"
           width="30" height="30" class="d-inline-block align-top" alt="{{ _('Home') }}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems"
            aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuItems">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">{{ _('About') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('countries_main') }}">{{ _('Countries and terms') }}</a>
        </li>
      </ul>
      <form class="d-flex" method="GET">
        <select class="form-select me-1 border-black shadow-none" name="language">
          {% if CURRENT_LANGUAGE in TRANSLATED_LANGUAGES %}
          <option value="{{ CURRENT_LANGUAGE }}" selected>{{ TRANSLATED_LANGUAGES[CURRENT_LANGUAGE] }}</option>
          {% endif %}
          {% for language in TRANSLATED_LANGUAGES %}
          {% if language != CURRENT_LANGUAGE %}
          <option value="{{ language }}">{{ TRANSLATED_LANGUAGES[language] }}</option>
          {% endif %}
          {% endfor %}
        </select>
        <button class="btn border-black" style="--bs-btn-color: black; --bs-btn-hover-bg: #71c3ec; --bs-btn-bg: #29a4e2;"
                type="submit">{{ _('Select') }}
        </button>
      </form>
    </div>
  </div>
</nav>

{% block presentation %}
{% endblock %}

<div class="container p-3">

  <!-- Search form -->
  {% block searchform %}
  <div class="container-fluid w-100 py-4" style="max-width:600px;">
    <form role="search" action="{{ url_for('results') }}" method="GET">
      <div class="d-flex flex-row">      
        <select class="form-select search border-black border-end-0 shadow-none" name="type_of_search" id="type_of_search" onchange="showFilters(this)">
          {% if not type_of_search or type_of_search == 'author' %}
          <option value="author" selected>{{ _('Author') }}</option>
          <option value="work">{{ _('Work') }}</option>
          {% elif type_of_search == 'work' %}
          <option value="author">{{ _('Author') }}</option>
          <option value="work" selected>{{ _('Work') }}</option>
          {% endif %}
        </select>
        <input class="form-control border-black border-end-0 shadow-none" type="search" name="query"
              placeholder="{{ _('Search with Paulina') }}" aria-label="{{ _('Search') }}" value="{{search_request}}">
        <button class="btn border-black border-start-0 p-2" style="--bs-btn-bg: white; --bs-btn-color: black; --bs-btn-hover-bg: #29a4e2;" type="submit">
          <img src="{{ url_for('static', filename='images/search.svg') }}" width="20" height="20" alt="{{ _('Search') }}">
        </button>
      </div>
      <div class="d-flex flex-row py-2">
        <details>
          <summary>{{ _('Search filters') }}</summary>
          <div id="filters-for-author">
            <div class="py-2 px-2">
              <label for="gender"><strong>{{ _('Gender') }}</strong></label>
              <select class="form-select filter border-black shadow-none" name="gender" id="gender">
                <option value="">{{ _('Any') }}</option>
                {% for gender in GENDERS %}
                <option value="{{ gender['qid'] }}">{{ _(gender['gender_name']) }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="py-2 px-2">
              <label for="nationality"><strong>{{ _('Nationality') }}</strong></label>
              <select class="form-select filter border-black shadow-none" name="nationality" id="nationality">
                <option value="">{{ _('Any') }}</option>
                {% for country in COUNTRIES %}
                <option value="{{ country['qid'] }}">{{ country['country_name'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div id="filters-for-work">
            <div class="py-2 px-2">
              <label for="type-of-work"><strong>{{ _('Type of work') }}</strong></label>
              <select class="form-select filter border-black shadow-none" name="type_of_work" id="type-of-work">
                <option value="">{{ _('Any') }}</option>
                {% for type_of_work in TYPES_OF_WORK %}
                <option value="{{type_of_work['qid']}}">{{ _(type_of_work['type_name']) }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="py-2 px-2">
              <label for="country-of-origin"><strong>{{ _('Country of origin') }}</strong></label>
              <select class="form-select filter border-black shadow-none" name="country_of_origin" id="country-of-origin">
                <option value="">{{ _('Any') }}</option>
                {% for country in COUNTRIES %}
                <option value="{{ country['qid'] }}">{{ country['country_name'] }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </details>
      </div>
    </form>
  </div>
  {% endblock %}

  {% block content %}
  {% endblock %}

</div>

<!-- Pre-footer widgets -->
<div class="text-bg-light mt-4">
  <div class="container text-center p-3">
    <div class="row">
      <div class="col-md p-2 m-2">
        <p><strong>{{ _('Paulina is supported by:') }}</strong></p>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.articaonline.com" target="_blank" class="link-dark">{{ _('Ártica - Online Cultural Center') }}</a>
          </li>
          <li>
            <a href="https://www.creativecommons.uy" target="_blank" class="link-dark">{{ _('Creative Commons Uruguay') }}</a>
          </li>
          <li>
            <a href="https://data.org.uy" target="_blank" class="link-dark">{{ _('Data Uruguay') }}</a>
          </li>
          <li>
            <a href="https://wikimedistas.uy" target="_blank" class="link-dark">{{ _('Wikimedistas de Uruguay') }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md p-2 m-2">
        <p><strong>{{ _('About Paulina') }}</strong></p>
        <ul class="list-unstyled">
          <li>
            <a href="{{ url_for('about') }}" class="link-dark">{{ _('About') }}</a>
          </li>
          <li>
            <a href="https://gitlab.wikimedia.org/toolforge-repos/paulina" target="_blank" class="link-dark">{{ _("Source code") }}</a>
          </li>
          <li>
            <a href="https://hosted.weblate.org/engage/paulina/" target="_blank" class="link-dark">{{ _("Help translate") }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md p-2 m-2">
        <p><strong>{{ _('Help') }}</strong></p>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.wikidata.org/wiki/Wikidata:Tools/Paulina" target="_blank" class="link-dark">{{ _('Documentation') }}</a>
          </li>
          <li>
            <a href="{{ url_for('countries_main') }}" class="link-dark">{{ _('Countries and terms') }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="text-center p-2" style="background-color: #f46527;">
    <a href="/">
    {% if CURRENT_LANGUAGE == 'en' %}
    <img src="{{ url_for('static', filename='images/logo-paulina-mono-en.svg') }}" alt="{{ _('Paulina logo') }}" style="width:100px;">
    {% elif CURRENT_LANGUAGE == 'es' %}
    <img src="{{ url_for('static', filename='images/logo-paulina-mono-es.svg') }}" alt="{{ _('Paulina logo') }}" style="width:100px;">
    {% else %}
    <img src="{{ url_for('static', filename='images/logo-paulina-mono-en.svg') }}" alt="{{ _('Paulina logo') }}" style="width:100px;">
    {% endif %}
    </a>
    <p>{{ now.year }} - {{ _('Paulina - Data for the Public Domain') }}.
      <a href="https://www.wikidata.org" target="_blank" class="link-dark">{{ _('Powered by Wikidata.') }}</a></p>
  </div>
</footer>

</body>
<script>
  let initialTypeOfSearch = document.getElementById("type_of_search").value;
  document.getElementById("filters-for-author").style.display = initialTypeOfSearch === "author" ? 'flex' : 'none';
  document.getElementById("filters-for-work").style.display = initialTypeOfSearch === "work" ? 'flex' : 'none';

  function showFilters(typeOfSearch)
  {
    document.getElementById("filters-for-author").style.display = typeOfSearch.value === "author" ? 'flex' : 'none';
    document.getElementById("filters-for-work").style.display = typeOfSearch.value === "work" ? 'flex' : 'none';
  }
</script>
</html>