{% extends "layout.html" %}

{% block content %}
<div class="container-fluid col-12 col-xl-9 p-2">
  <h2 class="mb-4 p-1">{{work_title}}</h2>

  <table class="table table-light p-1">
    <tbody>
    <tr>
      <th scope="row">{{ _('Image') }}</th>
      <td><a href="{{work_image_link}}" target="_blank"><img src="{{work_image}}" alt="{{work_image_alt_text}}" height="100"></a></td>
    </tr>
    <tr>
      <th scope="row">{{ _('Description') }}</th>
      <td>{{work_description}}</td>
    </tr>
    <tr>
      <th scope="row">{{ _('Author/s') }}</th>
      <td>
        {% for type_of_author, authors in work_authors.items() %}
        <p class="mb-1"> {{ type_of_author }}:
          {% for author in authors %}
          <a href="{{ url_for('author_page', author_data=author['ID']) }}">{{ author['name'] }}</a>&nbsp;
          {% endfor %}
        </p>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th scope="row">{{ _('Publication date') }}</th>
      <td>{{work_publication_date}}</td>
    </tr>
    <tr>
      <th scope="row">{{ _('Language') }}</th>
      <td>{{work_language}}</td>
    </tr>
    <tr>
      <th scope="row">{{ _('Country of origin') }}</th>
      <td>{{work_country}}</td>
    </tr>
    <tr>
      <th scope="row">{{ _('Wikipedia link') }}</th>
      <td><a href="{{work_wikipedia_link}}" target="_blank">{{work_wikipedia_link}}</a></td>
    </tr>
    {% if work_wikisource_links or work_internet_archive_link or work_full_work_link %}
    <tr>
      <th scope="row">{{ _('Access work') }}</th>
      <td>
        {% if work_wikisource_links %}
        {% for wikisource_version, wikisource_link in work_wikisource_links.items() %}
        <p><a href="{{wikisource_link['url']}}" target="_blank">{{wikisource_link['title']}}</a> (Wikisource {{wikisource_link['language']}})</p>
        {% endfor %}
        {% endif %}
        {% if work_internet_archive_link %}
        <p><a href="{{work_internet_archive_link}}" target="_blank">{{work_internet_archive_link}}</a></p>
        {% endif %}
        {% if work_full_work_link %}
        <p><a href="{{work_full_work_link}}" target="_blank">{{work_full_work_link}}</a></p>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <th scope="row">{{ _('Copyright status') }}</th>
      <td>
        {% for claim in work_copyright_status %}
        <p class="mb-1"> {{ claim['status'] }} {{ _('in') }}
          {% if claim['jurisdiction_is_instance_of'] == "Q63705939" %}
          <a href="{{ url_for('term_page', term_id=claim['applies_to_jurisdiction_id']) }}">
            {{ claim['applies_to_jurisdiction_label'] }}</a>.</p>
        {% else %}
        <a href="{{ url_for('country_page', country_data=claim['applies_to_jurisdiction_id']) }}">
          {{ claim['applies_to_jurisdiction_label'] }}</a>.</p>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th scope="row">{{ _('Missing/wrong data?') }}</th>
      <td><a href="{{work_wikidata_link}}" target="_blank">{{ _('Edit Wikidata item') }}</a></td>
    </tr>
    </tbody>
  </table>

</div>
{% endblock %}